PER_PAGE = 10
PAGINATION_CSS_FRAMEWORK = "boostrap5"
PAGINATION_LINK_SIZE = "sm"

# decide whether or not a single page returns pagination
PAGINATION_SHOW_SINGLE_PAGE = False
PAGINATION_SHOW_FIRST_PAGE_NUMBER = False
PAGINATION_PREV_REL = "prev"
PAGINATION_NEXT_REL = "next prefetch"
PAGINATION_RECORD_NAME = "records
PAGINATION_FORMAT_TOTAL = True
PAGINATION_FORMAT_NUMBER = True
